@use '../../style/mixins.scss' as *;

.book-skeleton {
  @include d-flex(column, initial, initial, 12px);
  background-color: rgb(206 203 200 / 17%);
  padding: 2vh;
  height: 35vh;
  border-radius: 4px;

  &__header {
    @include d-flex(row, space-between, initial, 7px);
    width: 100%;
  }

  &__title {
    height: 20px;
    background: linear-gradient(90deg, #f0f0f0 25%, #e0e0e0 50%, #f0f0f0 75%);
    background-size: 200% 100%;
    animation: loading 1.5s infinite;
    border-radius: 4px;
    width: 70%;
  }

  &__favorite {
    height: 24px;
    width: 24px;
    background: linear-gradient(90deg, #f0f0f0 25%, #e0e0e0 50%, #f0f0f0 75%);
    background-size: 200% 100%;
    animation: loading 1.5s infinite;
    border-radius: 4px;
    flex-shrink: 0;
  }

  &__image {
    height: 200px;
    width: 100%;
    background: linear-gradient(90deg, #f0f0f0 25%, #e0e0e0 50%, #f0f0f0 75%);
    background-size: 200% 100%;
    animation: loading 1.5s infinite;
    border-radius: 4px;
  }

  &__info {
    @include d-flex(column, initial, initial, 8px);
    width: 100%;
  }

  &__author {
    height: 16px;
    background: linear-gradient(90deg, #f0f0f0 25%, #e0e0e0 50%, #f0f0f0 75%);
    background-size: 200% 100%;
    animation: loading 1.5s infinite;
    border-radius: 4px;
    width: 60%;
  }

  &__pages {
    height: 16px;
    background: linear-gradient(90deg, #f0f0f0 25%, #e0e0e0 50%, #f0f0f0 75%);
    background-size: 200% 100%;
    animation: loading 1.5s infinite;
    border-radius: 4px;
    width: 40%;
  }
}

@keyframes loading {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}
